@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container pagecour">
        <img src="~/Content/images/logo.png" width="50%" />
        <h1>Cours</h1>
        <br />
        <p>
            Des cours de skateboard sont mis à disposition pour les débutants et aussi pour les personnes
            désirant se perfectionner.
            Un enseignant passionné, habilité et diplomé sera présent pour répondre à vos attentes
        </p>
        <br />
        <p>Des protections et des planches pourront être mises à disposition. </p>
        <p>Contactez-nous par mail pour connaitre les horaires des cours à venir</p>
        <p>Vous pouvez aussi voir les cours à venir communiqué sur notre site</p>
        <br />
        <p>Tarif des cours pours les adhérants : <i>5 euros pour 1h</i></p>
        <p>Tarif des cours : <i>20 euros pour 1h</i></p>
        <br />
    </div>