@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container pagesinitcour">
        <img src="~/Content/images/logo.png" width="50%" />
        <h1>initiations et decouvertes</h1>
        <br />
        <p>
            Vous avez envie de découvrir de nouvelles sensations ?
        </p>
        <br />
        <p>Des événements seront prévus pour la découverte des sports que nous proposons.</p>
        <p>Pour les initiations en skateboard, des protections et des planches pourront être mises à disposition. </p>
        <p>Contactez-nous par mail pour connaitre les événements futurs</p>
        <p>Vous pouvez également voir les événements futures communiqués dans le site de Roll On BLB</p>
        <br />
    </div>