@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container page">
        <div class="centrerimage">
            <img src="~/Content/images/logo.png" width="50%" class="imgpresentation" />
        </div>
    
        <br />      <br />
        <h1 class="center">Presentation de l'association</h1>
        <br />
        <p class="montexte">
            Roll On Blb est une association de type loi 1901, à but non lucratif.
            Créée en 2019 par des passionnées de sport, Roll On Blb est une association regroupant les sports Freeride tel que le skateboard, le bmx, la trotinette et de Roller.
        </p>
        <br /> <br />
        <h1 class="center">Objectifs de l'association</h1>
        <br />
        <p class="montexte">
            Le but de l'association est de réaliser des évènements(Contest, sortie Skatepark,session nocturne, nouveaux modules pour rider à l'intérieur...).
            Egalement de faire découvrir l'univers de ces sports passionants par des personnes passionées
            par le biai d'initiations ou de cours.

        </p>
        <br /> <br />
        <h1 class="center">Membres de l'association</h1><br />
        <div class="center">
            <p class="montexte">Président:&nbsp; Paul L uxe</p>
            <p class="montexte">Trésorier:&nbsp; Jean Tour loupe</p>
            <p class="montexte">Secrétaire:&nbsp;Sarah Vie goth</p>
            <p class="montexte">Conseiller pédagogique:&nbsp;Sophie Stic quer</p>
        </div>
        <br /> <br />
        <div class="montexte center">
            Pour toute demande de renseignements n'hésitez pas à nous contacter à l'adresse
            <a class="mailAdmin" href="_____@______.com">  _______@_____.com</a>

        </div>
        <br />
    </div>