@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Skateboard</h1>
<p>Le skate a été popularisé à la fin des années 50 par des surfeurs californiens.</p>
<p>Depuis ce temps, le skateboard a beaucoup évolué.</p>
<p>Des générations de skater se perpétue avec dde la créativité, du style et bien sur des sensations fortes</p>

<p>N'hésitez pas à franchir le pas !!! Venez découvrir ces sensations intenses</p>


<p>
    Un Skateboard contient  :
    une planche de 7 couches de bois
    2 trucks(avant et arrière)
    4 roues et 8 roulements
    8 vis pour reliés

</p>

<p>Avant du skate : nose</p>
<p>Arrière du skate : tail</p>

<p>Votre sens :</p>
<p>Goofy : pied gauche à l'arrière du skate</p>
<p>Regular: pied droit à l'arrière du skate</p>


<p>
    Tricks de base :
    Ollie (Faire sauter le skateboard)
    Pop-shovit (Rotation du skate à 180)
    Flip
</p>