@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="skatepark">
        <div class="centrerimage">
            <img src="~/Content/images/logo.png" class="imgpresentation" />
        </div>
        <div class="photoskate centrerimage">
            <h1>skatepark de Bruays-La-Buissière</h1>
            <img src="~/Content/images/20190913_191837.jpg" width="50%" class="imgskate" />


        </div>


        <div class="photopartie centrerimage">
            <h1>Première partie du skatepark </h1>
            <img src="~/Content/images/20190913_192001.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_191946.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_191538.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_192052.jpg" width="50%" class="imgskate" />
        </div>

        <div class="photoskate centrerimage">
            <h1>deuxieme partie du skatepark </h1>
            <img src="~/Content/images/20190913_191442.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_191423.jpg" width="50%" class="imgskate" />
        </div>

        <div class="photoskate centrerimage">
            <h1>troisième partie du skatepark </h1>
            <img src="~/Content/images/20190913_192621.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_192450.jpg" width="50%" class="imgskate" />
            <img src="~/Content/images/20190913_192708.jpg" width="50%" class="imgskate" />

        </div>
        <div class="divretourHP">
            <a class="retourHP" title="Retour haut de page"><i class="fa fa-arrow-up"></i></a>
        </div>
    </div>