@using Site_Roll_On_Blb.Models;
@model Site_Roll_On_Blb.Models.Publication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container pagesport">
    <div class="sportskate">
        <h1>SKATEBOARD<img class="skate skate1" src="~/Content/sports/sk8.png"></img></h1>
        <br />
        <p>
            Un skateboard ou skate ou plus rarement une planche à roulettes est un objet composé d'un plateau
            sous lequel sont fixés deux essieux maintenant chacun deux roues
        </p>
        <br />

    </div>
    <div class="sportbmx">
        <h1>BMX<img class="bmx bmx1" src="~/Content/sports/bmx.png"></img></h1>
        <br />
        <p>
            Le BMX est un sport extrême cycliste, physique, technique et spectaculaire. Il est divisé en deux
            catégories : la Race où les rideurs font la course, et le Freestyle où les rideurs font des figures.
            Les pratiquants de ce sport sont nommés pilotes, bicrosseurs, riders
        </p>
        <br />
    </div>

    <div class="sporttrot">
        <h1>TROTTINETTE<img class="trot trot1" src="~/Content/sports/trott.png"></img></h1>
        <br />
        <p>
            La trottinette ou patinette est un engin de déplacement personnel composé d'une planche portée par deux
            ou trois roues et d'un guidon. Il permet de se déplacer, un pied posé sur la planche,
            l'autre étant utilisé pour se propulser par poussée au sol.
        </p>
        <br />
    </div>

    <div class="sportroller">
        <h1>ROLLER<img class="roller roller1" src="~/Content/sports/roller.png"></img></h1>
        <br />
        <p>
            Le roller agressif est un sport de glisse urbaine qui se pratique à l'aide de patins à roulettes spéciaux.
            Il consiste à utiliser le mobilier urbain ou des équipements sportifs adaptés, les skateparks, pour réaliser des figures,
            appelées tricks.
        </p>
        <br />
    </div>
</div>