@model Site_Roll_On_Blb.Models.Utilisateur

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />

            <div class="textvalidcompte">
                <img src="~/Content/images/logo.png" width="50%" class="imgpresentation" />
                <br /><br />
                <p class="newmdpvalid">@ViewBag.msg</p>
            </div>        
<br /><br /><br />